.container {
  margin: 80px auto
}

span {
  line-height: 50px;
  margin-left: 14px; 
  text-shadow: 0 2px 8px #000;
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
}

.text-style {
  margin: 12px 0 0 -12px;
  font-size: 10pt;
  color: rgba(255, 0, 0, 0.6);
}

.search-bar {
  margin: 20px;
  text-align: center; }
  .search-bar input {
    width: 60%;
    border-top: 0.4px;
    border-left: 0.4px;
    cursor: text;
    border-right: 0.4px;
    border-bottom: 0.4px solid #ddd; }

.video-item img {
  max-width: 64px; }

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 9px #000; }

  .details:first-child {
    font-weight: bold;
  }

  .details:second-child > div:link {
    color: blue;
  }

.list-group-item {
  cursor: pointer; 
  box-shadow: 0 3px 9px #000;
  font-weight: bold;
  font-size: 10pt;}
  .list-group-item:hover {
    background-color: #eee; }


header {
  width: 100%;
  height: 50px;
  background: #fffafa;
  box-shadow: 0 3px 12px #000;
  position: fixed;
  z-index: 1;
  top: 0;
}

.onScrol {
  box-shadow: #fff;
  height: 50px;
  width: 100%;
  background: #ffffff;
  z-index: 1;
}

body {
  font-family: Helvetica, sans-serif;
}

.analytics {
  height: 200px;
  width: 50%;
}

.pre-auth {
  display: none;
}

.post-auth {
  display: none;
}

#chart {
  width: 500px;
  height: 300px;
  margin-bottom: 1em;
}

#video-list {
  padding-left: 1em;
  list-style-type: none;
}
#video-list > li {
  cursor: pointer;
}
#video-list > li:hover {
  color: blue;
}

.social-section ul li {
  display: inline;
  margin-left: 5%;
}


.call-to-action ul li{
  margin-left: 50%;
  display: inline;
}

.container-fluid {
  text-align: center;
  background-color: #FFF5EE;
}


